* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 59px;
    background-color: #6601EB;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px #6601EB;
    

}

.heading {
    color: white;
    font-weight: 400;
    font-family: Helvetica Neue;
    font-size: 28px;
    margin-left: 30px;
    word-spacing: 3px;

}

.inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 41px;
}

.btn {
    background-color: #6601EB;
    color: aliceblue;
    width: 100px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

}

.btn2 {
    background-color: #6601EB;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

}

.btn2:hover {
    background-color: #8c3bf6;
    color: white;
}

.btn:hover {
    background-color: #8c3bf6;
    color: white;
    letter-spacing: 1px;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 41px;
    padding-left: 41px;
    padding-right: 41px;
}

.box {
    display: flex;
    align-items: center;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    height: max-content;
    box-shadow: 0px 0px 8px 0px rgb(65, 64, 64);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
}

.message {
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 40px;
    font-size: 18px;
    font-weight: 200;
    width: 100%;

}

.delete {
    border: 0px;
    color: red;
    background-color: white;
    cursor: pointer;
}

.delete:hover {
    font-weight: 550;
}

input[type="file" i] {
    width: 45px;
    position: absolute;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    z-index: 10;
    top: 123px;
    opacity: 0;
    cursor: pointer;
}


/* utility classes */

.underline {
    text-decoration: underline;
}

.text-align {
    text-align: center;
    box-shadow: 0px 0px 5px 0px grey;
}

.circle {
    border-radius: 50px;
}

.ins {
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.width1 {
    width: 200px;
}

.width2 {
    width: 550px;
}

.padding-3 {
    padding: 3px;
    text-align: center;
    font-size: 12px;
}

.size-17px {
    font-size: 17px;
}
.size-13px {
    font-size: 13px;
}


/* media query */

@media screen and (max-width:1240px) {

    .inputs {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .ins {
        margin: 2px;
        padding: 8px;
    }

    .width1 {
        width: 230px;
    }

    .width2 {
        width: 400px;
        margin-left: 110px;
    }

    input[type="file" i] {
        top: 169px;
    }
}


@media screen and (max-width:776px) {
    .heading {
        font-size: 23px;
    }

    .width1 {
        width: 200px;
    }

    .width2 {
        width: 300px;
        margin: 0px;
    }

    .ins {
        font-size: 14px;
        padding: 6px;
    }

    .message {
        padding: 40px;
        font-size: 18px;
    }

    input[type="file" i] {
        top: 155px;
        left: 546px;
        width: 30px;
        height: 36px;
    }

    .align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .btn2 {
        position: relative;
        top: -70px;
        left: 177px;
    }

    .mg-l {
        margin-right: 40px;
    }

    .position {
        position: relative;
        top: -37px;
        left: 2px;
    }
    .inputs{
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0px;
    }
}


@media screen and (max-width:515px) {
    header {
        height: 30px;

    }

    .heading {
        font-size: 18px;
        padding: 5px;
        margin-left: 5px;
    }

    .message {
        padding: 17px;
        font-size: 9px;
    }

    .ins {
        font-size: 12px;
        padding: 5px;
    }

    .width1 {
        width: 120px;
    }

    .width2 {
        width: 220px;
    }

    .btn2 {
        top: -62px;
        left: 133px;
    }

    .size-17px {
        font-size: 15px;
    }

    input[type="file" i]{
    top: 121px;
    left: 333px;
    width: 30px;
    height: 28px;
    }
}

@media screen and (max-width:375px){
    input[type="file" i]{
        top: 121px;
        left: 305px;
        }
}